* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 10px;
}
a:focus {
  outline: 0;
}
html {
  background: #313940;
}
body {
  min-height: 100vh;
  background-color: #313940;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #313940;
  overflow-x: hidden;
}